.center-text {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.vert-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*#body {
    border-top: 1px solid black;
    padding-top: 10px;
}*/

.me h4 {
    margin-bottom: 10px;
}

#main {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 20px;
}

/*NAVIGATION*/

#nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    height: 60px;
}

#nav li {
    list-style: none;
    padding: 20px 0 20px 20px;
    display: inline;
    font-size: 100%;
}

#nav li:first-child {
    padding-left: 0;
}

#nav a{
    text-decoration: none;
    color: black;
}

#nav a:hover{
    text-decoration: underline;
}

/*BACKGROUND*/

#background {
    height: 250px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

/*PROJECT*/

.project {
    height: 200px;
    background-color: #f1f1f1;
    margin-bottom: 18px;
    color: black;
}

.project h3 {
    margin-bottom: 5px;
}

.project p {
    margin-top: 0;
}

#portfolio a:hover {
    color: black;
}

#copyright {
    text-align: center;
    margin-top: 10px;
}

#copyright p {
    margin: 10px;
}

@media (min-width: 750px) {
    #nav li {
        font-size: 120%;
    }
}


/*CONTACT*/

#contact {
    position: relative;
    bottom: -10px;
}

#contact h4 {
    margin-bottom: 10px;
}

#contact p {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 3px;
}

#contact p:nth-child(3) {
    margin-bottom: 30px;
}

/*#codeClub {
    background: url(images/codeclub_blur.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#encrypt {
    background: url(images/encrypt_blur.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#pong {
    background: url(images/pong_blur.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/